<!DOCTYPE html>
<html lang="en">
<head>

  <!-- links importantes de archivos locales -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="shortcut icon" href="../img/HatchfulExport-All/logo.png">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js" charset="utf-8"></script>
    <!-- links importantes de archivos locales -->

    <title>Contact</title>

    <!-- links importantes de archivos complementos -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- links importantes de archivos complementos -->
</head>

<body>

   <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <div class="container-fluid">
          <img class="marginNav" src="../img/HatchfulExport-All/logo.png" width="80px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
          <div class="collapse navbar-collapse marginNav" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="li1 d-flex justify-content-center">
                    <a href="../index.html" class="button1">
                        Inicio
                    </a>
                  </li>
              <li class="li1 d-flex justify-content-center">
                <a href="../entrada/contac.html" class="button2">
                    Contactanos
                </a>
              </li>
              <li class="li1 d-flex justify-content-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="button1">
                    Ingresar
                </button>
              </li>
              <li class="li1 d-flex justify-content-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" class="button1">
                    Registrar
                </button>
              </li>
            </ul>
          </div>
      </nav>
 <!-- nav -->

 <!-- Contacto con Desarrolladores -->
      <div class="fondo1 d-flex justify-content-center align-items-center text-center">
        <div class="container">
    <div class="row row-cols-1 d-flex justify-content-center padi"><h1>Desarrollado por:</h1>
        <div class="d-flex justify-content-center">
            <img style="z-index: 2; position: relative; top: 60px;" src="/img/67bd3139c75eccc43257501ca3c5dfdc.png" class="card rounded-circle" width="300px">
        </div>
        <div class="card borde-rounded cardCon bg-opacity-50 container" style="width: 20rem; height: 28rem; position: relative;">
          <div style="position: relative; top: 70px;">
            <h5 class="card-title text-Dark text-center">Sebastian Zuluaga</h5>
            <p class="card-text text-white">Joven programador de 20 años con conocimientos de multiples lenguajes de programacion y con experiencia a servicio al cliente.</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item  text-white m-1  bg-warning bg-opacity-50"> <img class="rounded-circle" src="https://cdn-icons-png.flaticon.com/512/732/732200.png" width="24px"> sbstzuluaga@gmail.com</li>
            <li class="list-group-item  text-white m-1 bg-info bg-opacity-50"> <img class="rounded-circle" src="https://cdn-icons-png.flaticon.com/512/3687/3687004.png" width="24px"> +57 3143220765</li>
            <li class="list-group-item  text-white m-1 bg-danger bg-opacity-50"> <img class="rounded-circle" src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" width="24px"> sbstzuluaga1111</li>
        </ul>
     
        <div class="d-grid gap-1 text-center d-flex justify-content-center">
            <a href="https://github.com/sbstzuluaga1111">
            <button class="cta">
                <span class="span">ME</span>
                <span class="second">
                  <svg width="50px" height="20px" viewBox="0 0 66 43">
                    <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                      <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                      <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                    </g>
                  </svg>
                </span> 
            </button>
        </a>
        </div>
        </div> 
      </div>
    </div>
    </div>
    </div>
  <!-- Contacto con Desarrolladores -->

<!-- Formulario para el contacto con la empresa -->
      <div class="merge d-flex justify-content-center">
        <h1>Contacto De la Empresa</h1>
      </div>
<div class="pasiado">
      <div class="d-flex justify-content-center">
      <form action="https://formsubmit.co/0f9cb63348f5c2c1bd521d677d190fd6" method="POST" class="form">
        <div class="title">Contact us</div>

        <input name="nombre" type="text" placeholder="Your name" class="input">

        <input name="email" type="email" placeholder="Your email" class="input">

        <input name="numero" type="number" placeholder="Your number" class="input">

        <textarea name="mensaje" placeholder="Your message"></textarea>

        <button type="submit" value="Enviar">Enviar</button>
        <input type="hidden" name="_next" value="http://localhost:3000/entrada/contac.html">
        <input type="hidden" name="_captcha" value="false">
        </div>
        </form>
        
</div>
<!-- Formulario para el contacto con la empresa -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <div>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
  </div>
</section>
<section class="">
  <div class="container text-center text-md-start mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="fas fa-gem me-3"></i>Company name
        </h6>
        <p>
          Here you can use rows and columns to organize your footer content. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          Products
        </h6>
        <p>
          <a href="#!" class="text-reset">Angular</a>
        </p>
        <p>
          <a href="#!" class="text-reset">React</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Vue</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Laravel</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          Useful links
        </h6>
        <p>
          <a href="#!" class="text-reset">Pricing</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Settings</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Orders</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Help</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          info@example.com
        </p>
        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
      </div>
    </div>
  </div>
</section>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2021 Copyright:
  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div>
</footer>
<!-- Footer -->

<!-- modales de ingreso y registro -->
<div class="modal fade tran" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down d-flex align-items-center tran">
<div class="header rounded">
<div class="modal-content modacF">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
      <h1 class="contentModa">Ingreso</h1>
      </div>
    <div class="inner-header flex">    
<div class="modal-body d-flex justify-content-center container">  
            <div class="card1 modal-content m-3 rounded">
                    <div class="card-details1">
                      <p class="text1-title">Cliente</p>
                      <div class="d-flex justify-content-center">
                        <img src="../img/usuario.png" width="50%">
                      </div>
                    </div>
                    <a href="ingreso-Consumidor.html" class="button1 card1-button">
                      Iniciar
                    </a>
                  </div>
                  <div class="card1 modal-content m-3 rounded">
                    <div class="card-details1">
                      <p class="text1-title">Empresa</p>
                      <div class="d-flex justify-content-center">
                        <img src="../img/maleta.png" width="50%">
                      </div>
                    </div>
                    <a href="ingreso-Empresa.html" class="button1 card1-button">
                      Iniciar
                    </a>
                  </div>
            </div>
    </div>
    <p>TopicClaim.com</p>
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    </div>
  </div>
      </div>



      <div class="modal fade tran" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down d-flex align-items-center tran tran">
      <div class="header rounded">
      <div class="modal-content modacF">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
      <h1 class="contentModa">Registro</h1>
      </div>
      <div class="inner-header flex">    
      <div class="modal-body d-flex justify-content-center container">  
            <div class="card1 modal-content m-3 rounded">
                    <div class="card-details1">
                      <p class="text1-title">Cliente</p>
                      <div class="d-flex justify-content-center">
                        <img src="../img/usuario.png" width="50%">
                      </div>
                    </div>
                    <a href="registro-Consumidor.html" class="button1 card1-button">
                    Registrar
                    </a>
                  </div>
                  <div class="card1 modal-content m-3 rounded">
                    <div class="card-details1">
                      <p class="text1-title">Empresa</p>
                      <div class="d-flex justify-content-center">
                        <img src="../img/maleta.png" width="50%">
                      </div>
                    </div>
                    <a href="registro-Empresa.html" class="button1 card1-button">
                      Registrar
                    </a>
                  </div>
            </div>
      </div>
      <p>TopicClaim.com</p>
      <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
      </div>
      </div>
      </div>
      </div>
      
<!-- modales de ingreso y registro -->

</body>
</html>