
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.button1 {
    padding: 12.5px 30px;
    width: 500%;
    border: 0;
    border-radius: 100px;
    background-color: #BDE3FF;
    color: black;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .button1:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .button1:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

li{
  margin-left: 2%;
    margin-right: 2%;
}

  .marginNav{
    margin-left: 5%;
    margin-right: 6%;
  }


  .fondo{
    background-color: #FFCD29!important;
    height: 900px;
  }